<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quiz 2</title>
</head>
<body>
  <div id="app">
    <input v-model="inputName" type="text"/>
    <button @click="submitUser()">{{this.buttonText}}</button>
    <ul>
        <li v-for="(user, index) in users">
            {{ user.name }}
            <button @click="editUser(index)">Edit</button> ||
            <button @click="deleteUser(index)">Delete</button>
        </li>
    </ul>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
   var vm = new Vue({
        el: '#app',
        data: {
            buttonText : 'add',
            inputName : '',
            users : [
                {
                    'name' : 'Muhammad Iqbal Mubarok',
                },
                {
                    'name' : 'Ruby Purwanti',
                },
                {
                    'name' : 'Faqih Muhammad',
                },
            ],
            editUserIdx : null,
        },
        methods: {
            submitUser(){
                if (this.buttonText === 'add'){
                    this.users.push({
                        name : this.inputName,
                    });
                    this.inputName = '';
                } else {
                    this.users[this.editUserIdx].name = this.inputName;
                    this.buttonText = 'add';
                    this.inputName = '';
                    this.editUserIdx = null;
                }
            },
            editUser(userIdx){
                this.buttonText = 'Update';
                this.inputName = this.users[userIdx].name;
                this.editUserIdx = userIdx;
            }, 
            deleteUser(userIdx){
                if (confirm("Anda yakin?")) {
                    this.users.splice(userIdx, 1);
                }
            }
        }
  })
  </script>
</body>
</html>