<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tugas 9-10</title>
</head>
<body>
  <div id="app">
    <input v-model="kataKunci" placeholder="ketikkan kata kunci" type="text"/>
    <ul>
        <li v-for="book in booksFilter">
            {{ book }}
        </li>
    </ul>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
   var vm = new Vue({
      el: '#app',
      data: {
        books : [
            'Kalkulus Dasar',
            'Fisika Dasar',
            'Aljabar Linear Elementer',
            'Aljabar Abstrak',
            'Algoritma Pemrograman'
        ],
        kataKunci: '',
      },
      computed: {
          booksFilter() {
            if (this.kataKunci === "") {
              return this.books;
            } else {
              return this.books.filter((book) => {
                  return book.toLowerCase().includes(this.kataKunci.toLowerCase());
              });
            }
          },
        },
  })
  </script>
</body>
</html>